@page "/Vacunacion"
@using VacunateRD__BD1_Final_.Data
@inject DBServices objDBServices
@inject NavigationManager NavigationManager

<h3>Vacunacion</h3>

<div class="form-group">
    <label asp-for="Fase" class="control-label">Vacunador</label>
    <select class="form-control">
        @foreach (var v in Vacunadores)
        {
            <option value="@v.IdVacunador">@v.Nombres @v.Apellidos</option>
        }
    </select>

    <label asp-for="Fase" class="control-label">Lote</label>
    <select class="form-control">
        @foreach (var l in Lotes)
        {
            <option value="@l.idLote">Codigo: @l.idLote | @l.Nombre | @l.Disponibles</option>
        }
    </select>

    <label asp-for="Fase" class="control-label">Mesa de vacunacion: </label>
    <select class="form-control">
        @foreach (var M in Mesas)
        {
        <option value="@M.idMesaVacunacion">Codigo: @M.idMesaVacunacion</option>
        }
    </select>


</div>



@code {
    List<Vacunador> Vacunadores = new List<Vacunador>();
    List<Lote> Lotes = new List<Lote>();
    List<MesaVacunacion> Mesas = new List<MesaVacunacion>();
    protected override async Task OnInitializedAsync()
    {
        DBServices db = new DBServices();
        Vacunadores = await Task.Run(() => db.GetVacunadoresById(1));
        Lotes = await Task.Run(() => db.getLotesByCentroId(1));
        Mesas = await Task.Run(() => db.getMesasByCentroId(1));
    }


}
